/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  color: #fff;
  line-height: 1.6;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  border-bottom: 2px solid rgb(255, 217, 0);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: gold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

nav a:hover {
  color: #00a651; /* verde fuerte */
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url('https://images.unsplash.com/photo-1580618672591-eb180b1a973f?auto=format&fit=crop&w=1500&q=80') no-repeat center/cover;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  color: gold;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  background: #00a651;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: gold;
  color: #000;
}

/* SERVICIOS */
.servicios {
  padding: 60px 20px;
  text-align: center;
}

.servicios h2 {
  font-size: 2.2rem;
  color: gold;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 20px;
}

.card {
  background: #111;
  border: 2px solid gold;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  color: #00a651;
  margin-bottom: 10px;
}

.card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: gold;
}

/* CONTACTO */
.contacto {
  padding: 60px 20px;
  text-align: center;
}

.contacto h2 {
  color: gold;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.whatsapp {
  background: #00a651;
}

.email {
  background: gold;
  color: #000;
}

/* WHATSAPP FLOAT */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00a651;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  border-top: 2px solid gold;
}

/* LOGO */
.logo img {
  height: 60px;
}

/* HERO LOGO */
.hero-logo {
  max-width: 280px;
  margin: 20px auto;
  display: block;
}
